mat-grid-tile {
  background: lightblue;
}
.main_card{
	margin-top: 2em; */
    /* margin: 5em; */
    text-align: center;
    /* margin-left: 33em; */
    height: 20em;
    text-align: center;
    border-top: 2px solid #ff4081;
    border-bottom: 2px solid #ff4081;
    background-color: white;
    /* max-width: 80em; */
}
.inner_card{
	text-align: center;
	margin-bottom: 2.5em;
	color: #3f51b5
}
.list_border{
	border-bottom: 2px solid;
}
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}