<mat-card class="main_card">
    <mat-card-title class="inner_card">Apartments List</mat-card-title>
    <mat-list>
        <table class="example-full-width" cellspacing="0">
            <tr class="inner_row">
                <td><b> Move-In Date</b></td>
                <td><b>Address </b></td>
                <td><b>Email</b></td>
                <td><b> Action</b></td>
            </tr>
            <tr *ngFor="let apartment_detail of global_var.role; let i=index">
                <td> {{apartment_detail.move_in_date}}</td>
                <td>
                    {{apartment_detail.street}}{{apartment_detail.town}}{{apartment_detail.postal_code}}{{apartment_detail.country}}
                </td>
                <td>{{apartment_detail.contact_email_address}}</td>
                <td>
                    <button mat-raised-button color="primary" class="edit_button"
                            (click)="editApartment(apartment_detail.access_token)">Edit
                    </button>
                    <button mat-raised-button color="accent" (click)="deleteApartment(apartment_detail.access_token,i)">
                        Delete
                    </button>
                </td>
            </tr>
            <!--<tr>
                <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="pageSizeOptions"
                               (page)="pageEvent = $event">
                </mat-paginator>
            </tr>-->
        </table>
    </mat-list>
</mat-card>